DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=database
DB_ECHO=false

SECRET_KEY=change_me_to_a_long_random_secret
ALGORITHM=HS256

REDIS_HOST = "localhost"
REDIS_PORT = 6379

RESEND_API_KEY=re_example