DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgresql
DB_NAME=booking_com
DB_ECHO=false

SECRET_KEY=change_me_to_a_long_random_secret
ALGORITHM=HS256

REDIS_HOST=localhost
REDIS_PORT=6379
